nav {
    display: flex;
    width: 100;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: .2em;
}

nav a {
    color: #41B6E6;
    margin: .2em 1em 0px 1em;
}

nav a:hover {
    color: black;
}

.img-city {
    width: 100%;
    height: auto;
    overflow: hidden;
}

div.chicagoInfo {
    background-color: #D9D9D9;
    width: 55%;
}